<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
   <style>
        div{
            border:1px solid black;
        }
    </style>
    <script>
        $(document).ready(function(){
            let name = prompt("Your Name ");
            $('form').submit(false);
            var socket = io();
            $('#form').submit(function(){
                var id =1;
                socket.emit('new_user', {name: $('#name').val(), id: id});
                });
            });
    
    </script>
</head>
<body>

    <div>
        <h4>Your name: </h4>
        <form id= "form" action="/process" method="post">
        <input id= "name" type = "text" name="name">
        <input id="submit" type = "submit" value="submit">
        </form>
    </div>
    
</body>
</html>